/* Style shopping cart */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shopping-cart-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  width: 80%;
  height: 80%;
  margin: auto;
}
.shopping-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px 5px 0 0;
}
.cart-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "image title price quantity remove"
    "image title price quantity remove"
    "image title price quantity remove"
    "image title price quantity remove"
    "image title price quantity remove";
  border-bottom: 1px solid #ccc;
}
.cart-item-image > img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.cart-item-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
.cart-item-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
input[type="number"] {
  width: 50px;
  height: 37px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}
.btn-plus{
  width: 50px;
  height: 37px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  background-color:#1d3557;
  color: white;
}
.checkout-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.fees {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
}
